*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Taviraj', serif;
}

body {
    background-color: #E5E5E5;
}

.section-header {
    font-weight: 500;
    font-size: 50px;
    line-height: 85px;
    color: #232323;
}


.gold-button {
    text-decoration: none;
    background-color: #A38136;
    border: none;
    box-shadow: none;
    padding: 15px 25px;
    border-radius: 3px;
    color: #ffffff;
    font-family: 'Brown';
    font-size: 19px;
}

    .gold-button:hover {
        color: #ffffff;
        border: none;
        box-shadow: none;
        text-decoration: none;
    }

.other-things {
    text-decoration: none;
    color: #232323;
}

    .other-things:hover {
        color: #232323;
    }

@media screen and (max-width: 768px) {
    .section-header {
        font-size: 40px;
        line-height: normal;
    }
}

.owl-carousel .item {
    width: 100vw;
    height: 100vh;
    color: #ffffff;
}


.background-image {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.sliderInfo {
    padding: 10%;
}

    .sliderInfo h2 {
        font-family: 'Taviraj';
        font-style: normal;
        font-weight: 600;
        font-size: 55px;
        line-height: 130%;
        color: #FFFFFF;
    }

    .sliderInfo p {
        font-family: 'Brown';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 150%;
        color: #FFFFFF;
    }

@media screen and (max-width: 768px) {
    .sliderInfo {
        padding: 20% 0% 0%;
    }

        .sliderInfo h2 {
            font-size: 35px;
        }

        .sliderInfo p {
            font-size: 24px;
        }
}

.concert-card {
    width: 28% !important;
    text-decoration: none;
}

    .concert-card .concert-image {
        height: 400px;
        width: 100% !important;
        object-fit: cover;
    }

    .concert-card .history {
        font-family: 'Brown';
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #A38136;
    }

    .concert-card .concert-name {
        font-family: 'Taviraj';
        font-weight: 500;
        font-size: 28px;
        line-height: 130%;
        color: #232323;
    }

@media screen and (max-width: 768px) {
    .concert-card {
        width: 100% !important;
    }

        .concert-card .concert-image {
            height: 300px;
        }

        .concert-card .history {
            font-size: 14px;
        }

        .concert-card .concert-name {
            font-size: 24px;
        }
}

#about-us img {
    width: 80%;
    height: 500px;
    object-fit: cover;
    margin: 10% 0;
}

#about-us {
    background: #2C2C2C;
    color: white;
}

@media screen and (max-width: 768px) {
    #about-us img {
        margin-top: 25px;
        width: 100%;
        height: 250px;
        margin: 0px;
    }

    #about-us {
        height: fit-content;
        padding: 30px 0px;
    }

        #about-us h2 {
            margin-top: 20px;
        }
}

#blog {
    margin-bottom: 50px;
}

.blog-card {
    width: 28% !important;
    text-decoration: none;
}

    .blog-card .blog-image {
        height: 275px;
        width: 100% !important;
        object-fit: cover;
    }

    .blog-card .history {
        color: #A38136;
        font-weight: 400;
        font-size: 18px;
    }

    .blog-card .blog-name {
        font-size: 28px;
        color: #232323;
    }

@media screen and (max-width: 768px) {
    .blog-card {
        width: 100% !important;
        padding-bottom: 25px;
    }

        .blog-card .blog-image {
            height: 225px;
        }

        .blog-card .history {
            font-size: 14px;
        }

        .blog-card .blog-name {
            font-size: 24px;
        }
}


.collective-about {
    display: flex;
    justify-content: end;
    position: relative;
}

    .collective-about .right-side {
        height: 60vh;
        width: 60%;
        background-color: #232323;
        display: flex;
    }

        .collective-about .right-side .right-side-box {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            padding-left: 25%;
        }

        .collective-about .right-side h2 {
            color: #fff;
            text-align: center;
        }

        .collective-about .right-side p {
            text-align: center;
            color: grey;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            line-clamp: 3;
            -webkit-box-orient: vertical;
        }

@media screen and (max-width: 768px) {
    .collective-about .right-side h2 {
        font-size: 24px;
    }

    .collective-about .right-side p {
        font-size: 14px;
    }

    .blog-card {
        width: 100% !important;
        padding-bottom: 25px;
    }
}

.collective-about .collective-image {
    position: absolute;
    object-fit: cover;
    height: 50vh;
    top: 5vh;
    position: absolute;
    bottom: 5vh;
    left: 0px;
    width: 50%;
}

    .collective-about .collective-image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }



.special-time-card {
    width: 45% !important;
    text-decoration: none;
    padding-bottom: 25px;
}

    .special-time-card .special-time-image {
        height: 400px;
        width: 100% !important;
        object-fit: cover;
    }

    .special-time-card .history {
        color: #A38136;
        font-weight: 400;
        font-size: 18px;
    }

    .special-time-card .special-time-name {
        font-size: 28px;
        line-height: 130%;
        color: #232323;
    }

@media screen and (max-width: 768px) {
    .special-time-card {
        width: 100% !important;
    }

        .special-time-card .special-time-image {
            height: 300px;
            width: 100% !important;
        }

        .special-time-card .history {
            font-size: 14px;
        }

        .special-time-card .special-time-name {
            font-size: 24px;
        }
}

footer {
    background-color: #ffffff;
}

    footer .footer-info {
        text-decoration: none;
        font-size: 18px;
        color: black;
    }

.footer-navigation {
    font-size: 18px;
    color: black;
    text-decoration: none;
    color: black
}

    .footer-navigation:hover {
        color: black;
    }

.social-media a {
    text-decoration: none;
    padding: 10px 10px 10px 0px;
}

@media screen and (max-width: 768px) {
    footer .social-media, footer .footer-info {
        display: flex;
        justify-content: center;
    }

    footer .logo {
        display: flex !important;
        justify-content: center !important;
    }

    .footer-navigation {
        margin: auto;
    }
}

.copyright {
    background-color: #232323;
    color: #ffffff;
    padding: 15px;
    margin: 0px;
}

    .copyright p {
        margin: 0px;
    }

#aboutUsPage, #InfoOurCollective, #BlogRead {
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #ffffff;
}

    #aboutUsPage img, #InfoOurCollective img, #BlogRead img {
        margin-top: 30px;
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    #aboutUsPage h1, #InfoOurCollective h1, #BlogRead h1, #SpecialMomentInfoPage h1 {
        font-weight: 500;
        font-size: 50px;
        line-height: 85px;
        text-align: center;
        color: #000000;
        margin: 25px;
    }


    #aboutUsPage p, #InfoOurCollective p, #BlogRead p, #SpecialMomentInfoPage p {
        font-weight: 400;
        font-size: 18px;
        line-height: 163%;
        color: #000000;
        width: 80%;
        padding: 0 10%;
        margin: 0 10% 50px;
        border-left: solid 1px #A38136;
    }

@media screen and (max-width: 768px) {
    #aboutUsPage img, #InfoOurCollective img, #BlogRead img, #SpecialMomentInfoPage img {
        margin-top: 30px;
        font-size: 14px;
        width: 100%;
        height: 500px;
        object-fit: cover;
    }

    #aboutUsPage p, #InfoOurCollective p, #BlogRead p, #SpecialMomentInfoPage p {
        padding: 0 5%;
        font-size: 14px;
        margin: 0 5% 50px;
    }

    #aboutUsPage h1, #InfoOurCollective h1, #BlogRead h1, #SpecialMomentInfoPage h1 {
        font-size: 36px;
        line-height: 60px;
        margin: 0;
    }
}b

#concertsPage, #BlogPage, #SpecialMomentPage {
    margin: 125px 0px;
}

    #concertsPage .concert-wrapper {
        margin-bottom: 15px;
    }

    .concertsCard {
        min-height: 350px;
        width: 100%;
        box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        background-color: #ffffff;
        padding: 0px !important;
        padding-bottom: 15px !important;
    }

    .concertsCard img {
        height: 100%;
        padding: 20px;
        width: 100%;
        object-fit: cover;
    }

    .concertsCard h2 {
        font-weight: 500;
        font-size: 33px;
        line-height: 140%;
        margin: 15px;
    }

    .concertsCard p {
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        margin: 15px;
    }

    .concertsCard .weekDays,
    .concertsCard .monthYear,
    .concertsCard .hourLocation {
        font-weight: 400;
        font-size: 18px;
        text-transform: uppercase;
        color: #A38136;
    }

    .concertsCard .hourLocation {
        font-weight: 400;
        font-size: 14px;
        color: #A38136;
    }

    .concertsCard .day {
        font-weight: 500;
        font-size: 96px;
        color: #232323;
        margin: 0;
        padding: 0;
    }

    .concertsCard .concertName {
        font-weight: 500;
        font-size: 36px;
        line-height: 150%;
        color: #232323;
    }

    .concertsCard h3 {
        font-weight: 400;
        font-size: 16px;
        line-height: 15px;
        letter-spacing: 0.04em;
        text-transform: uppercase;
    }

    .concertsCard p {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #A38136;
    }

    .concertsCard .left-line {
        border-left: 2px #A38136 solid;
        padding-left: 10px;
    }

@media screen and (max-width: 768px) {
    .concertsCard .concertName {
        font-size: 28px;
    }
    .concertsCard .hourLocation {
        font-size: 12px;
    }
    #concertsPage .concertsCard img{
        display:none;
    }
    .concertsCard .concert-program {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

#navbar button {
    border: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,0);
    border-color: none;
}

.account {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}



.custom-field {
    position: relative;
    font-size: 14px;
    border-top: 20px solid transparent;
    margin-bottom: 5px;
    --field-padding: 12px;
}

    .custom-field input {
        border: none;
        -webkit-appearance: none;
        -ms-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: #E5E5E5;
        padding: var(--field-padding);
        border-radius: 3px;
        width: 100% !important;
        outline: none;
        font-size: 14px;
    }

    .custom-field .placeholder {
        position: absolute;
        left: var(--field-padding);
        width: calc(100% - (var(--field-padding) * 2));
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        top: 22px;
        line-height: 100%;
        transform: translateY(-50%);
        background-color: #E5E5E5;
        transition: top 0.3s ease, color 0.3s ease, font-size 0.3s ease;
    }

    .custom-field input.dirty + .placeholder,
    .custom-field input:focus + .placeholder,
    .custom-field input:not(:placeholder-shown) + .placeholder {
        top: -10px;
        font-size: 10px;
        color: #222;
        opacity: 1;
    }

    /* ONE */
    .custom-field.one input {
        background: #E5E5E5;
        border: 2px solid #ddd;
        transition: border-color 0.3s ease;
    }

        .custom-field.one input + .placeholder {
            left: 8px;
            padding: 0 5px;
        }

        .custom-field.one input.dirty,
        .custom-field.one input:not(:placeholder-shown),
        .custom-field.one input:focus {
            border-color: #A38136;
            transition-delay: 0.1s;
        }

            .custom-field.one input.dirty + .placeholder,
            .custom-field.one input:not(:placeholder-shown) + .placeholder,
            .custom-field.one input:focus + .placeholder {
                top: 0;
                font-size: 10px;
                color: #A38136;
                background: #E5E5E5;
                width: auto;
            }





#ourTeam .ourTeamHeader {
    height: 80vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.73)100%, rgba(0, 0, 0, 0)0%), url('/assets/img/OurCollectivebacground.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.ourTeamHeader h1 {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 85px;
    color: #FFFFFF;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ourTeamAbout {
    text-decoration: none;
    background-color: #A38136;
    padding: 5px 10px;
    color: #ffffff;
    margin: 15px;
}

.ourTeamCard {
    height: 350px !important;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
    background-color: #ffffff;
    padding: 0px !important;
}

    .ourTeamCard img {
        height: 350px;
        width: 100%;
        object-fit: cover;
    }

    .ourTeamCard h2 {
        font-family: 'Taviraj';
        font-style: normal;
        font-weight: 500;
        font-size: 33px;
        line-height: 140%;
        color: #000000;
    }

    .ourTeamCard p {
        font-family: 'Brown';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        letter-spacing: 0.01em;
        color: #000000;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .ourTeamCard .ourcollectiveInfo {
        padding-left: 15px;
    }

@media screen and (max-width: 768px) {

    #ourTeam .ourTeamHeader {
        height: 60vh;
    }

    .ourTeamHeader h1 {
        font-family: 'Taviraj';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 85px;
        color: #FFFFFF;
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .ourTeamCard {
        height: 300px !important;
    }

        .ourTeamCard img {
            height: 300px;
        }

        .ourTeamCard h2 {
            font-weight: 500;
            font-size: 24px;
            line-height: 120%;
        }

        .ourTeamCard p {
            font-family: 'Brown';
            font-size: 14px;
            line-height: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }
}

.searchConcert {
    background: #FFFFFF;
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.05);
    border-radius: 3px;
}

#concertInfo > .container {
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: white;
}

#concertInfo .YearMonthDay, #reservation .YearMonthDay {
    font-family: 'Brown';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #A38136;
    margin-top: 35px;
    padding: 15px;
}

#concertInfo .concertName, #reservation .concertName {
    font-family: 'Taviraj';
    font-style: normal;
    font-weight: 500;
    font-size: 55px;
    text-align: center;
    color: #1B1B1B;
}

#concertInfo .hourLocation, #reservation .hourLocation {
    font-family: 'Brown';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #A38136;
}

#concertInfo .price, #reservation .price {
    font-family: 'Brown';
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 17px;
    color: #A38136;
}

#concertInfo img {
    padding-top: 25px;
    width: 80%;
    height: 450px;
    object-fit: cover;
    margin: auto;
}

#concertInfo .subtitle {
    width: 80%;
    margin: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #232323;
    padding-top: 35px;
    padding-bottom: 55px;
}

#concertInfo .organizers {
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
}

    #concertInfo .organizers .left-line {
        border-left: 2px #A38136 solid;
        padding-left: 10px;
    }

@media screen and (max-width: 768px) {
    .organizers {
        width: 100% !important;
    }

        .organizers h3 {
            font-size: 24px;
        }

        .organizers p {
            font-size: 14px;
        }
}



#reservation .container {
    perspective: 1000px;
    margin-bottom: 30px;
}

#reservation .seat {
    background-color: #D8D8D8;
    height: 26px;
    width: 32px;
    margin: 3px;
    font-size: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

    #reservation .seat:nth-of-type(2) {
        margin-right: 18px;
    }

    #reservation .seat:nth-last-of-type(2) {
        margin-left: 18px;
    }

    #reservation .seat.selected {
        background-color: green;
    }

    #reservation .seat.sold {
        background-color: red;
    }

    #reservation .seat:not(.sold):hover {
        cursor: pointer;
        transform: scale(1.2);
    }

#reservation .showcase .seat:not(.sold):hover {
    cursor: default;
    transform: scale(1);
}

#reservation .showcase {
    width: 40%;
    margin: auto;
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

    #reservation .showcase li {
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10px;
    }

        #reservation.showcase li small {
            margin-left: 2px;
        }

#reservation .container {
    margin-top: 150px;
    margin-bottom: 150px;
    padding-bottom: 150px;
    background-color: white;
}

#reservation a {
    margin: 25px;
}

.reservationContainer {
    width: 100%;
    padding: 25px;
}

    .reservationContainer .row {
        justify-content: center;
    }

@media screen and (max-width: 768px) {
    .reservationContainer {
        width: 100%;
        padding: 5px;
    }

    #reservation .showcase {
        width: 100%;
    }
}

#wrapper {
    min-height: 40vh;
    margin-bottom: 100px;
    margin-top: 100px;
}

.card-box {
    display: flex;
    justify-content: center;
}

.box {
    background: #fef9f9;
    box-shadow: 0px 4px #eeeeee;
    border-radius: 8px;
    width: 60%;
    padding: 10px 0px;
}

@media screen and (max-width: 768px) {
    .box{
        width: 100%;
    }
}

.box-up {
    display: flex;
    justify-content: center;
}

.box-middle {
    text-align: center;
}

.distance-left {
    margin-left: 15px;
}

.box-down {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

    .box-down a {
        text-decoration: none;
        font-style: oblique;
    }

        .box-down a:hover {
            text-decoration: underline;
        }

.not_found_text {
    text-align: center;
    font-size: 22px;
    color: #d44a4a;
    font-weight: bold;
    font-family: 'Taviraj';
}

#UserInfo {
    padding: 75px 0px 25px;
    background-color: #aaa;
    color: #000;
    font-family: 'Taviraj';
    font-style: normal;
    text-decoration: none;
}

    #UserInfo a {
        color: #000;
        font-size: 18px;
        text-decoration: none;
    }


.account p a {
    color: #A38136;
}


#SpecialMomentInfoPage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#SpecialMomentInfoPage .slider {
    margin: auto;
    width: 80%;
    height: 100%;
    object-fit: cover;
}

#SpecialMomentInfoPage .container {
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: #ffffff;
    padding: 25px 0px 25px;
}

#FutureConcert .historyCard, #ConcertHistory .historyCard {
    width: 100%;
    background-color: #fff;
    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> | border-radius: 3px;
    min-height: 100px;
}

#FutureConcert .concertHistory, #ConcertHistory .concertHistory {
    color: #A38136;
}
